# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/
backend/db.sqlite3
backend/media/

# Node / React / Vite
node_modules/
dist/
dist-ssr/
*.local

# OS
.DS_Store
Thumbs.db
